
header {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 20px;
  z-index: 20;
  .logo {
    display: inline-block;
  }
  nav {
    display: inline-block;
    float: right;
    text-align: right;
    a {
      font-family: 'Rozha One', serif;
      display: inline-block;
      color: #fff;
      padding: 0 20px;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

a {
  transition: all 0.5s ease-in-out;
  &:hover {
    color: $redColor;
  }
}
