#our-story {
  padding: 100px 0;

  .comp-title {
    text-align: center;
  }

  h5 {
    color: $titleColor;
    font-size: 1.1rem;
    margin: 0.5rem 0 1rem;
  }

  h2 {
    text-align: center;
    color: $blackColor;
    font-size: 2rem;
    margin: 0.5rem 0 3rem;
    text-transform: capitalize;
  }

  p {
    font-size: 1.1rem;
    color: $paragraphColor;
    line-height: 1.8;
    margin: 0.5rem 0 3rem;
    font-weight: 300;
  }

  .quote {
    color: #grey;
    margin: 0.5rem 0 3rem;

    strong {
      color: #000;
      font-weight: 700;
    }
  }

  #reserve-button {
    text-align: center;
    .reserve-button {
      margin-bottom: 30px;
      padding: 20px 40px;
      border: 1px solid #000;
      display: inline-block;
      color: #000;
      text-transform: uppercase;
      transition: all 0.6s ease-in-out;

      &:hover {
        background-color: $redColor;
        color: $blackColor;
      }
    }
  }
}

.video-image {
  max-width: 400px;
  height: 550px;
  margin: 0 auto;
  background: url("../img/video-image.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
}
