#random-quote {
  padding: 180px 0;
  background: url("../img/image3.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    color: #fff;
    font-size: 2.7rem;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 50px;
  }
  .author {
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    display: block;
  }
}
