.top-image {
  position: relative;
  background-color: #000;
  min-height: 500px;
  height: 100vh;
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .introduction-title {
    padding: 200px 0 50px;
    text-align: center;
    margin: 0 auto;

    h5 {
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 300;
    }

    @media (min-with: 530px) {
      h5 {
        font-size: 14px;
      }
    }

    @media (min-with: 768px) {
      h5 {

      }
    }

    @media (min-with: 980px) {
      h5 {

      }
    }

    @media (min-with: 1200px) {
      h5 {

      }
    }

    h1 {
      text-transform: uppercase;
      color: #fff;
      font-family: 'Rozha One', serif;
      font-weight: 300;
      font-size: 3rem;

      @media (min-with: 530px) {
        h1 {
          font-size: 3.5rem;
        }
      }

      @media (min-with: 768px) {
        h1 {
          font-size: 4rem;
        }
      }

      @media (min-with: 980px) {
        h1 {
          font-size: 6rem;
        }
      }

      @media (min-with: 1200px) {
        h1 {

        }
      }
    }
  }

  .contact-info {
    width: 100%;
    bottom: 50px;
    right: 0;
    position: absolute;
    right: 40px;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.5rem;

    strong {
      color: #fff;
      font-weight: bold;
    }

    .book-reservation {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: #fff;
    }
  }
}
