.top-image {
  position: relative;
  background-color: #000;
  min-height: 500px;
  height: 100vh;
  background: url("../img/background1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .introduction-title {
    padding: 200px 0 50px;
    text-align: center;

    h5 {
      text-transform: uppercase;
      color: #fff;
      font-weight: 300;
    }

    h1 {
      text-transform: uppercase;
      color: #fff;
      font-family: 'Rozha One', serif;
      font-weight: 300;
      font-size: 6rem;
    }
  }

  .contact-info {
    width: 100%;
    bottom: 50px;
    right: 0;
    position: absolute;
    right: 40px;
    text-align: center;
    color: $paragraphColor;
    font-size: 0.9rem;
    line-height: 1.5rem;

    strong {
      color: #fff;
      font-weight: bold;
    }

    .book-reservation {
      margin-bottom: 10px;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  }
}
