@import "reset";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "Variables";
@import "Grid";
@import "Header";
@import "TopImage";
@import "OurStory";
@import "SpecialMenu";


* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}
