@import "reset";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import "Variables";
@import "Grid";
@import "Global";
@import "Header";
@import "TopImage";
@import "OurStory";
@import "SpecialMenu";
@import "RandomQuote";
@import "Reviews";
@import "ContactUs";
@import "Footer";


* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Rozha One', serif;
  color: $blackColor;
}
